<div class="background">
  <div class="center-card">
    <h1>Login</h1>
    <form>
      <div class="form-input form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Type your username"> 
      </div>

      <div class="form-input form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Type your password"> 
      </div>

      <div class="center-button">
        <button type="submit" class="btn btn-info">LOGIN</button>
      </div>

      <hr>
      <a routerLink="/register" routerLinkActive="active">Don't have an account? Click here</a>
    </form>
  </div>
</div>