<div class="background">
  <div class="center-card">
    <div class="banner">
      <img class="photo" src="{{loadedBook.coverPicUrl}}" alt="{{loadedBook.title}}">
      <div class="author-info">
        <div>
          <h1>{{loadedBook.title}}</h1>
          <a class="dates" routerLink="/authors/{{bookAuthor.id}}">{{bookAuthor.fName}} {{bookAuthor.lName}}</a>
          <p>{{loadedBook.synopsis}}</p>
        </div>
        <div>
          <p>Date first published: {{loadedBook.datePublished | date}}</p>
          <p>Number of pages: {{loadedBook.pages}}</p>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="borrow-book">
        <button *ngIf="!isBorrowed" (click)="onBorrow()" class="btn btn-success">
          Borrow this book
        </button>
        <button *ngIf="isBorrowed" disabled class="btn btn-success">
          You already have this book
        </button>
      </div>

      <div class="book-actions btn-group" *ngIf="userRole == 'admin'">
        <a routerLink="/editBook/{{loadedBook.id}}" class="btn btn-warning">Edit</a>
        <button (click)="onDelete()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

