<div class="background">
  <div class="center-card">
    <h1>Add author</h1>
    <form [formGroup]="newAuthorForm" (ngSubmit)="onSubmit()">
      <div class="double-input">
        <div class="form-input form-group">
          <label for="fName">Name</label>
          <input type="text" id="fName" name="fName" class="form-control" placeholder="Type authors name" formControlName="fName">
        </div>

        <div class="form-input form-group">
          <label for="lName">Surname</label>
          <input type="text" id="lName" name="lName" class="form-control" placeholder="Type authors surname" formControlName="lName">
        </div>
      </div>

      <div class="double-input">
        <img class="author-pic" *ngIf="newAuthorForm.controls['picUrl'].dirty" src="{{newAuthorForm.controls['picUrl'].value}}" alt="author">

        <div class="form-input form-group">
          <label for="picUrl">Picture URL</label>
          <input type="url" id="picUrl" name="picUrl" class="form-control" placeholder="Insert photo URL" formControlName="picUrl">
        </div>

      </div>

      <div class="double-input">
        <div class="form-input form-group">
          <label for="dateBorn">Date born</label>
          <input type="date" id="dateBorn" name="dateBorn" class="form-control" placeholder="Type date of birth" formControlName="dateBorn">
        </div>

        <div class="form-input form-group">
          <label for="dateDied">Date died</label>
          <input type="date" id="dateDied" name="dateDied" class="form-control" placeholder="Type date of death" formControlName="dateDied">
        </div>
      </div>

      <div class="form-input form-group">
        <label for="bio">About author</label>
        <textarea id="bio" name="bio" placeholder="Type about an author" class="form-control" formControlName="bio"></textarea>
      </div>

      <div class="center-button">
        <button type="submit" class="btn btn-info" [disabled]="!newAuthorForm.valid">ADD AUTHOR</button>
        <button type="reset" class="btn btn-secondary" [disabled]="newAuthorForm.untouched && !newAuthorForm.dirty">CLEAR</button>
      </div>
    </form>
  </div>
</div>
