<div class="background">
  <div class="center-card">
    <h1>Add author</h1>
    <form>
      <div class="double-input">
        <div class="form-input form-group">
          <label for="fName">Name</label>
          <input type="text" id="fName" name="fName" class="form-control" placeholder="Type authors name">
        </div>

        <div class="form-input form-group">
          <label for="lName">Surname</label>
          <input type="text" id="lName" name="lName" class="form-control" placeholder="Type authors surname">
        </div>
      </div>

      <div class="form-input form-group">
        <label for="picUrl">Picture URL</label>
        <input type="url" id="picUrl" name="picUrl" class="form-control" placeholder="Insert photo URL">
      </div>

      <div class="double-input">
        <div class="form-input form-group">
          <label for="dateBorn">Date born</label>
          <input type="date" id="dateBorn" name="dateBorn" class="form-control" placeholder="Type date of birth">
        </div>

        <div class="form-input form-group">
          <label for="dateDied">Date died</label>
          <input type="date" id="dateDied" name="dateDied" class="form-control" placeholder="Type date of death">
        </div>
      </div>

      <div class="form-input form-group">
        <label for="bio">About author</label>
        <textarea id="bio" name="bio" placeholder="Type about an author" class="form-control"></textarea>
      </div>

      <div class="center-button">
        <button type="submit" class="btn btn-info">ADD AUTHOR</button>
        <button type="button" class="btn btn-secondary">CLEAR</button>
      </div>
    </form>
  </div>
</div>
