<div class="background">
  <div class="center-card">
    <h1>Add genre</h1>
    <form>
      <div class="form-input form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Type name of genre">
      </div>

      <div class="form-input form-group">
        <label for="about">About genre</label>
        <textarea id="about" name="about" placeholder="Type about a genre" class="form-control"></textarea>
      </div>

      <div class="center-button">
        <button type="submit" class="btn btn-info">ADD GENRE</button>
        <button type="button" class="btn btn-secondary">CLEAR</button>
      </div>
    </form>
  </div>
</div>
