

.center-card{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 253, 253);
  border-radius: 20px;
  align-items: center;
  padding: 30px 70px;
}

.double-input{
  display: flex;
}

.form-input{
  display: flex;
  flex-direction: column;
  margin: 15px;
  
}

.center-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 10px;
}