.background{
  width: 100%;
  height: 100vh;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000-job598.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=c8c11b81dab216826115cf06f2257736");
  background-size: cover;
  background-color: rgb(152, 204, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.genre-card{
  margin: 40px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

a{
  text-decoration: underline;
  color: black;
}